

.features{
  background-color: var(--primaryColor);
}


.features-list {

    list-style-type: none;
    letter-spacing: 0.03em;
    display: flex;
  flex-direction: column;
    // margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    &__item :last-child{
  //       width: 270px;
  // margin-right: 30px;
 max-width: 450px;
  align-items: center;
  
 
  }
  // .features-list__icon
  // {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  &__title{

  
  font-weight: var(--secondaryFontWeight);
  font-size: var(--primaryFontSize);
  line-height: 1.14;
  width: 270px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--secondaryDarkColor);
}
&__text
{
    font-size: var(--primaryFontSize);
    line-height: 1.7;
    margin-bottom:30px;
    letter-spacing: 0.03em;
    color: #757575;
}

&__icon{
  //  width:100% ;
    // height: 120px;
    background-color: #f5f4fa;
    // padding-bottom: 25px;
    // padding-top: 25px;
  //  justify-content: center;
    // padding-left:192px;
    // margin-bottom: 30px;
  margin: 0 auto;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
  }
}

@media screen and (min-width: 1200px)
{
  .features-list__icon{
    width: 270px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 100px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px)
{
  .features-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px)
{
  .features-list{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px)
{
  .features-list__item , .features-list__icon{
    width: 354px;
    // padding-bottom: 25px;
    // padding-top: 25px;
    // padding-left: 100px;
    // margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px)
{
   .features-list__icon{
    width: 354px;
    // padding-bottom: 25px;
    // padding-top: 25px;
    padding-left: 144px;
    // margin-bottom: 30px;
  }
}
.extra-div{
  display: flex;
 background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  margin-bottom: 30px;
  border-radius: 4px;
  @media(min-width:1200px)
  {
    padding: 0;
  }
 
}
@media(min-width:1200px)
{
  .features-list__item{
    width: 270px;
    
  }
}