.footer {
    background: #2f303a;;
    display: flex;
  flex-direction: column;

  
  &__logo {
    font-family: var(--secondaryFont);
    color: var(--primaryColor);
    font-weight: var(--secondaryFontWeight);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    
    text-decoration: none;
    
  }
}
@media(min-width:767px) and (max-width:1199px) {
  .footer{
    height:463px;
  }
}
@media screen and(min-width: 767px) and (max-width: 1199px)
{.footer__logo
{
justify-content: flex-start;
padding-left: 30px;
position: absolute;
top: -177px;
left:80px;
padding-top: 0;
}
}

// .footer__logo
// {
 
// }
.footer__container {
  display: flex;
flex-direction: column;
  width: 100%;
}
@media(min-width:767px) and (max-width: 1199px)
{
.footer__container{
  flex-direction: row;
  position: relative;
}
}
// .footer {
//   background: #2f303a;;
//   display: flex;


// &__logo {
//   font-family: var(--secondaryFont);
//   color: var(--primaryColor);
//   font-weight: var(--secondaryFontWeight);
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   padding-top: 60px;
//   display: flex;
//   text-decoration: none;
// }
// }
// .footer__container {
// display: flex;

// padding-left: 15px;
// }
@media(min-width:1200px)
{
  .footer{flex-direction: row};
  .footer__container{
    flex-direction: row;
    
  }
  .footer__logo{
    font-family: var(--secondaryFont);
      color: var(--primaryColor);
      font-weight: var(--secondaryFontWeight);
      font-size: 26px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      padding-top: 60px;
      display: flex;
      text-decoration: none;
  }
}
