.footer-address{
    &__list {
        list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      
        font-size: var(--primaryFontSize);
        margin-top: 20px;
        line-height: 1.5;
        padding-bottom: 60px;
      }
      &__item--top {
        margin-bottom: 9px;
      }
      &__item--middle {
        margin-bottom: 9px;
      }
     
      &__link {
        text-decoration: none;
        color: var(--primaryColor);
      
        font-style: normal;
        letter-spacing: 0.03em;
      }
      @media(min-width:767px) and (max-width: 1199px)
      {
        .footer-address__list
        {
          align-items: flex-start;
          
          position:absolute;
          top:-149px;
          left: 66px;
          
          
        }
      }
      @media(min-width:767px) and(max-width:1199px)
      {
        .footer-address__item--middle{
          padding-left: 40px;
        }
      }
}
@media(min-width:767px) and (max-width:1199px) {
  .footer-address__item--bottom{
    padding-left: 44px;
  }
}
.footer-address{
    &__link--middle {
        text-decoration-line: underline;
        font-style: normal;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
      }
      
      &__link--bottom {
        text-decoration: none;
        font-style: normal;
        color: rgba(255, 255, 255, 0.6);
        letter-spacing: 0.03em;
      }
}
.footer-address{
    &__link:hover,
&__link:focus {
  color: var(--defalutHoverColor);
  transition: var(--mainTransition) var(--cubic);
}
}

@media(min-width:1200px)
{
  .footer-address__list{
    list-style-type: none;
    position:static;
          font-size: var(--primaryFontSize);
          margin-top: 20px;
          line-height: 1.5;
          padding-bottom: 60px;
          align-items: flex-start;
  }
  .footer-address__link
  {
    text-decoration: none;
      color: var(--primaryColor);
    
      font-style: normal;
      letter-spacing: 0.03em;
  }
  

}
@media(min-width:1199px)
{
  .footer__box{
    margin-right:70px;
  }
}