.social-icons {
    margin-bottom: 60px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__text {
        text-transform: uppercase;
        color: #fff;
        line-height: 1.17;
     
        font-weight: var(--secondaryFontWeight);
        letter-spacing: 0.3px;
      }
      
      &__box {
       width: 206px;
      margin-left: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
      }
      &__link {
        fill: var(--primaryColor);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      &__circle {
        background-color: rgba(255, 255, 255, 0.1);
        width: 44px;
        height: 44px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
    .social-icons{
        &__circle:hover,
&__circle:focus {
  background-color: var(--defalutHoverColor);
  transition: var(--mainTransition) var(--cubic);
}
    }
    .social-icons{
        &__smallBox {
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
    }
    @media(min-width:767px) and (max-width:1199px)
    {
      .social-icons{
        // margin-left: 384px;
        position:absolute;
        left:450px;
        top: -170px
      }
    }
  //   .social-icons {
  //     margin-left: 70px;
  //     padding-top: 72px;
  //     &__text {
  //         text-transform: uppercase;
  //         color: #fff;
  //         line-height: 1.17;
        
  //         font-weight: var(--secondaryFontWeight);
  //         letter-spacing: 0.3px;
  //       }
        
  //       &__box {
  //         width: 206px;
        
  //         margin-top: 20px;
  //         display: flex;
  //         justify-content: space-between;
  //       }
  //       &__link {
  //         fill: var(--primaryColor);
  //         display: flex;
  //         justify-content: center;
  //         align-items: center;
  //       }
        
  //       &__circle {
  //         background-color: rgba(255, 255, 255, 0.1);
  //         width: 44px;
  //         height: 44px;
  //         border-radius: 100%;
  //         display: flex;
  //         align-items: center;
  //         justify-content: center;
  //         cursor: pointer;
  //       }
  //     }
  //     .social-icons{
  //         &__circle:hover,
  // &__circle:focus {
  //   background-color: var(--defalutHoverColor);
  //   transition: var(--mainTransition) var(--cubic);
  // }
  //     }
  //     .social-icons{
  //         &__smallBox {
  //             width: 44px;
  //             height: 44px;
  //             display: flex;
  //             justify-content: center;
  //             align-items: center;
  //           }
  //     }
  @media(min-with:1200px)
  {
    .social-icons{
      margin-left: 70px;
          padding-top: 72px;
          display:flex;
          flex-direction: row;
    }
  }
  @media(min-with:1200px)
  {
    .social-icons__box{
      width: 206px;
        
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
    }
  }