.menu-toggle
{
 
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;

  outline: none;
}.js-close-menu{
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  padding-top: 21px;
  padding-bottom: 8px;
}

@media  screen and (min-width: 600px) {
  .menu-toggle{
    display:none;
  }
 
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--defalutHoverColor);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: auto;
  
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  visibility: hidden;
  pointer-events: none;
  opacity: 0;

  @media  screen and (min-width: 768px) {
    display: none;
  }

}.menu-container.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-container.is-open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}


.menu-container a {
text-decoration: none;

}
.menu-container ul{
  list-style-type: none;
  padding: 0;
  font-weight: 500;
  
}
.mobile-menu{
  
  margin-bottom: 302px;
  margin-left: 40px;
  font-size: 40px;
  letter-spacing: 0.02em;
  
  
}
.mobile-menu a:hover
{
  color: var(--defalutHoverColor);
}
.mobile-menu :first-child{
  padding-bottom: 36px;;
}
.mobile-menu :nth-child(2){
  padding-bottom: 32px;
}

.mobile-menu a{
  color: var(--secondaryDarkColor)
}
.mobile-contacts{
  margin-left:40px;
  margin-bottom: 64px;
  
}
.mobile-contacts-tel{
  font-size: 40px;
  color:var(--defalutHoverColor);
  letter-spacing: 0.02em;
  
}
.mobile-contacts-email{
  color:var(--gray);
  font-size: 20px;
}

.mobile-contacts :first-child{
  margin-bottom: 32px;;
}
.mobile-socials{
  display: flex;
  max-width: 357px;
  justify-content: space-between;
  margin-left: 40px
}

.mobile-socials a{
  color: var(--defalutHoverColor);
}
