.modal__text {
    font-size: 20px;
    font-weight: var(--secondaryFontWeight);
    color: var(----secondaryDarkColor);
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 0 40px;
    margin-top:40px;
  }
 .modal-form
 { 
    &__input {
        width: 100%;
        display: block;
        height: 40px;
        border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        padding-left: 35px;
        margin-left: 0px;
        outline: 0;
      }
      &__input:focus {
        border-color: var(--defalutHoverColor);
        transition: var(--mainTransition) var(--cubic);
      }
      &__input:focus + svg {
        fill: var(--defalutHoverColor);
        transition: var(--mainTransition) var(--cubic);
      }
 }
 .modal-form
 {
    &__box {
        padding-left: 40px;
        margin-top: 10px;
      }
      
      &__wrapper {
        position: relative;
        margin-top: 4px;
        padding-right: 40px;
      }
 }
 .icons-svg {
    position: absolute;
    top: 14px;
    left: 10px;
  }
  .icons-svg:hover {
    fill: #2196f3;
  }
  
 
  .modal-form__label {
    font-size: 12px;
    color: var(--gray);
  }
  .textarea {
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 100%;
    height: 120px;
    border-radius: 4px;
    margin-left: 0px;
    resize: none;
    padding-left: 16px;
    padding-top: 12px;
    outline: 0;
    &:focus {
        border-color: var(--defalutHoverColor);
        transition: var(--mainTransition) var(--cubic);
      }
      
      &::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1, 16;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
      }
    }
    .checkbox {
      
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
       
        color: var(--gray);
        line-height: 1.71;
        font-size: var(--primaryFontSize);
        letter-spacing: 0.03em;
        margin-bottom: 20px;
        position: relative;
      
      &__input {
        visibility: hidden;
        
      }
      &__text {
        cursor: pointer;
        font-size: 12px;
        @media(max-width: 1199px){
        position:absolute;
        left:65px;
        top: -5px;}
      }
      
      &__link {
        color: var(--defalutHoverColor);
      }
      &__icon {
        position: absolute;
        top: -3px;
        left: 42px;
        fill: transparent;
      
        fill: var(--secondaryDarkColor);
      }
      
      &__icon-pipe {
        position: absolute;
        top: -3px;
        left: 44px;
        opacity: 1;
      }
      &__input:checked + svg {
        background-color: #2196f3;
        fill: transparent;
        border-radius: 2px;
      }
    }
    .submit-modal-btn {
        // margin-left: 122px;
        background-color: var(--defalutHoverColor);
        color: var(--primaryColor);
        border-radius: 4px;
        border: 1px solid var(--defalutHoverColor);
        width: 200px;
        height: 50px;
        outline: 0;
      }
      .extra-btn-one
      {
        display: flex;
      justify-content: center;
      align-items: center;
      }
      @media(min-width:1199px)
     {
        .checkbox__icon{
          position: absolute;
        top:4px;
        left: 53px;
        }
        .checkbox__icon-pipe{
          position: absolute;
          top: 4px;
          left: 55px;
        }
        .checkbox__text
        {
          font-size: 14px;
        }
      }
      @media(min-width:1200px)
      {
        .submit-modal-btn{
          width: 200px;
          // margin-left: 164px;
        }
      }
      @media(min-width:1200px)
      {
        .modal__text{
          font-size: 20px;
          padding: 0;
    font-weight: var(--secondaryFontWeight);
    color: var(----secondaryDarkColor);
    line-height: 1.17;
    letter-spacing: 1px;
    text-align: center;
        }
      }
    