.page-header{
  background-color: var(--primaryColor);
  border-bottom: 1px solid #ececec;
  
 }
 @media screen and (min-width:767px )
 {
   .page-header{
     height: 80px;
   }
 }
@media screen and (max-width: 767px)
{
 .nav{
   display:none;
 }
}

 .top-box
 {
     display: flex;
     justify-content: space-between;
     padding: 10px 15px;
     @media(min-width:767px)
     {
      padding: 0 15px;
     }
 }
 .top-box__logo-link
 {
     font-family: var(--secondaryFont);
color: var(--primaryFontColor);
font-weight: var(--secondaryFontWeight);
font-size: 24px;
line-height: 0.72;
letter-spacing: 0.03em;
display: flex;
align-items: center;
text-decoration: none; 



 }
 .top-box__logo-link--blue
 {
   color: var(--defalutHoverColor);
 }
 .menu
 {
     list-style-type: none;
padding-top: 32px;
padding-bottom: 32px;
align-items: center;
font-size: var(--primaryFontSize);
font-weight: var(--primaryFontWeight);
line-height: 1.7;
letter-spacing: 0.02em;
display: flex;
width: 254px;
// margin-left: 93px;
justify-content: space-between;

&__item--line::after
{
 content: '';
 border: 2px solid var(--defalutHoverColor);
 display: block;
 position: relative;
 top: 21px;
 border-radius: 4px;
 background-color: var(--defalutHoverColor);
}
&__link {
 color: inherit;
 text-decoration: none;
 line-height: 1.17;
}
}
.menu__link:hover,
.menu__link:focus {
color: var(--defalutHoverColor);
transition: var(--mainTransition) var(--cubic);
}
.contacts {
 list-style-type: none;
 display: flex;
 flex-direction: column;
//  margin-left: 345px;
 font-size: var(--primaryFontSize);
 font-weight: 500;
 color: var(--gray);
  justify-content: center;
  align-items: flex-end ;
  gap: 10px;
  padding-right: 15px;


 &__item--left{
     
 }
 &__link{
     text-decoration: none;
     color: var(--gray);
     line-height: 1.17;
     
 }
}
@media(min-width: 767px) and (max-width:1199px)
{
  .contacts__item--right
  {
margin-right: 30px;
  }
}

@media(max-width:767px){
  .contacts{
    display: none;
  }
 }
@media(min-width:1199px)
{.contacts{
  display:flex;
flex-direction: row;
 align-items: center;
 margin-right: 50px;
 gap: 30px;

}
}
// // @media (max-width:1199)
// // {
// // .contacts{
// //   margin-left: 101px;
// //   flex-direction: column;
// //   display: flex;
// // }
  
// }
// @media(min-width: 1200){
//   .contacts{
//     margin-left: 345px;
//    display: flex;
//     flex-direction: row;
//   }}
    
//   }
// }

.contacts__link:hover,
.contacts__link:focus {
color: var(--defalutHoverColor);
fill: var(--defalutHoverColor);
transition: var(--mainTransition)  var(--cubic);

}
.contacts__icon-envelope {
 margin-right: 8px;
 vertical-align: middle;
 @media(min-width:1199px){
 margin-right:8px;}

}

.contacts__icon-smartphone {
 margin-right: 8px;
 vertical-align: middle;
 @media(min-width:1199px)
 {
  margin-right:10px;
 }
}

/*DESKTOP*/
// .top-box__logo-link
// //  {
// //      font-family: var(--secondaryFont);
// // color: var(--primaryFontColor);
// // font-weight: var(--secondaryFontWeight);
// // font-size: 24px;
// // line-height: 0.72;
// // letter-spacing: 0.03em;
// // display: flex;
// // align-items: center;
// // text-decoration: none; 

// // }