.stuff {
    background-color: var(--bright);
  
  &__big-title {
    font-weight: var(--secondaryFontWeight);
    font-size: 28px;
    line-height: 1.16;
  
    letter-spacing: 0.03em;
  
    text-align: center;
    @media(min-width:1200px) {
      font-size: 36px;
      line-height: 1.16;
  
    letter-spacing: 0.03em;
      }
  }
  
  &__list {
    list-style-type: none;
    margin-top: 50px;
    display: flex;
  flex-direction: column;
  padding: 0 15px;
    // justify-content: space-between;
    // padding: 0px 15px;
    @media(min-width:768px){
      flex-direction: row;
      flex-wrap:wrap;
      gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
      
    }
    @media(min-width: 1200px)
    {
      margin-top: 50px;
    display: flex;
  
    justify-content: space-between;
    padding: 0px 15px;
    }
  }
  &__item {
    max-width: 450px;
    // margin-left: 15px;
    // margin-right: 15px;
    // padding-left: 15px;
    // padding-right:15px;
    margin-bottom: 30px;
    background-color: var(--primaryColor);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
      @media(min-width:1200px)
      {
        width: 270px;
        margin-left: 0;
        margin-right: 0;
      }
      @media(min-width:767px) and (max-width:1199px)
      {
        width: 354px;
        margin-left:0;
        margin-right: 0;
      }
  }
  
  &__title {
    font-weight: var(--primaryFontWeight);
    font-size: var(--secondaryFontSize);
    line-height: 1.18;
    margin-top: 30px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondaryGrayColor);
  }
  &__text {
    font-size: var(--secondaryFontSize);
    line-height: 1.18;
    margin-top: 10px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--gray);
    margin-bottom: 16px;
  }
  
  &__box {
    max-width:206px;
    height: 56px;
    // margin-left: 32px;
    margin-bottom: 18px;
  // margin-left:80px;
    display: flex;
    justify-content: space-between;
    @media(min-width:1200px)
    {
      margin-left: 32px;
    }
    @media(min-width:768px) and(max-width:1199px)
    {
      // margin-left: 74px;
    }
  }
  
  &__circle {
    width: 44px;
    height: 44px;
    border-radius: 100%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.stuff{
    
    &__circle:hover,
    &__circle:focus {
      background-color: var(--defalutHoverColor);
      fill: var(--primaryColor);
      transition: var(--mainTransition) var(--cubic);
    }

}
.stuff{
    &__circle:focus svg {
        background-color: var(--defalutHoverColor);
        fill: var(--primaryColor);
        transition: var(--mainTransition) var(--cubic);
      }
      &__circle:hover svg {
        fill: var(--primaryColor);
        transition: var(--mainTransition) var(--cubic);
      }
}
.stuff__link {
    fill: #afb1b8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // &__list {
  //   list-style-type: none;
  //   margin-top: 50px;
  //   display: flex;
  
  //   justify-content: space-between;
  //   padding: 0px 15px;
  // }
  
// .stuff{
    
//   &__circle:hover,
//   &__circle:focus {
//     background-color: var(--defalutHoverColor);
//     fill: var(--primaryColor);
//     transition: var(--mainTransition) var(--cubic);
//   }

// }
// .stuff{
//   &__circle:focus svg {
//       background-color: var(--defalutHoverColor);
//       fill: var(--primaryColor);
//       transition: var(--mainTransition) var(--cubic);
//     }
//     &__circle:hover svg {
//       fill: var(--primaryColor);
//       transition: var(--mainTransition) var(--cubic);
//     }
// }
// .stuff__link {
//   fill: #afb1b8;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.stuff__box-one{
  display: flex;
  justify-content: center;
//  width:100%
}