.our-clients-container {
    padding: 0px 15px;
  }
.clients{
  background-color: var(--primaryColor);
    &__title {
        font-size: 36px;
        font-weight: var(--secondaryFontWeight);
        text-align: center;
        margin-bottom: 50px;
        color: var(--secondaryDarkColor);
        
      }
      
      &__icons {
        display: flex;
      flex-wrap: wrap;
        justify-content: space-between;
      }
      &__box {
        border: 1px solid #afb1b8;
        border-radius: 4px;
        width: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 17.71px;
        padding-bottom: 14.25px;
        @media(min-width:1200px)
        {
          width: 170px;
        }
        @media(min-width:768px) and (max-width:1199px)
        {
          width: 226px;
        }
        
      }
}  
.clients{
    &__box:hover {
        border: 1px solid var(--defalutHoverColor);
        transition: var(--mainTransition) var(--cubic);
      }
      &__link {
        fill: #afb1b8
      }
      &__link:hover {
        fill: var(--defalutHoverColor);
        transition: var(--transitionTime) var(--cubic);
      }
      &__link:focus {
        fill: var(--defalutHoverColor);
        transition: var(--mainTransition) var(--cubic);
      }
}
.clients{
&__box:hover svg {
    fill: var(--defalutHoverColor);
    transition: var(--mainTransition) var(--cubic);
  }
}
// &__icons {
//   display: flex;

//   justify-content: space-between;
// }